### Homework #2

1. Round 4.5667 to the nearest hundreth (2 decimals) using a build-in function, round().

2. Convert "657" to an integer data type

3. Write a program to get two numbers from a user. Then, create a 6-digit code that is a series of randomly generated numbers between the two numbers given by the user. Print the 6-digit code so all digits are separated by a dash.

4. Write a program to remove ALL the white spaces from the following text:

        Hickory, dickory, dock,     
        The mouse ran up the clock.   
        The clock struck one,   
        The mouse ran down,                      
        Hickory, dickory, dock

5. Write a function to calculate the miles per gallon. Get a miles driven and gallons used from a user and call your function to calculate the miles per gallon.

6. Enhance the <b>compute()</b> function created during Module 2. Enhance the function to compute a circle's area and circumference where:

 - circle's area = 3.14 X (radius X radius)   
 - circle's circumference = 3.14 X diameter

7. Write a function called multiply_two() that accepts two parameters. The function should print a message like '15 * 2 = 30'.  Randomly generate two numbers between 1 and 100, then call the function with the two random numbers.

8. Create a function for a multiplication table.  Get a number from a user and then call you function which produces a multiplication table for that number.
The output should look something like this:

        Enter a number: 3
        3 X 1 = 3
        3 X 2 = 6
        3 X 3 = 9
        3 X 4 = 12
        3 X 5 = 15
        3 X 6 = 18
        3 X 7 = 21
        3 X 8 = 24
        3 X 9 = 27